{% for post in include.posts %}
  <div class="col s12 m6 l4 card-wrap">
    <div class="card hoverable">
      <div class="card-image">
        <img src="{{ post.header_img }}">
      </div>
      <div class="card-content">
        <a href="{% include relative-src.html src=post.url %}"><p class="card-title">{{ post.title }}</p></a>
        <p>{{ post.excerpt }}</p>
      </div>
      <div class="card-action center-align">
        <a href="{% include relative-src.html src=post.url %}" class="more-link">More</a>
      </div>
    </div>
  </div>
{% endfor %}