<div class="mobile-nav mobile installation-menu">
  {% include header-mobile-nav.html %}
  
  <ul class="mobile-nav-menu">
    <li class="mobile-nav-menu__item">
      <a href="#" class="mobile-nav-menu__link menu-state-link" data-state="main">
        <svg width="13px" height="13px" viewBox="0 0 9 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>global-arrow-left</title>
            <g id="Interactivism-Documentation-Project-2017-03-01" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="23" transform="translate(-535.000000, -684.000000)" fill="#6b737c">
                    <g id="Dropdown-Variant-Default" transform="translate(515.000000, 672.000000)">
                        <polygon id="global-arrow-left" transform="translate(24.225000, 18.500000) scale(-1, 1) translate(-24.225000, -18.500000) " points="21.95 25 20 23.0491055 24.55 18.5008132 20 13.9492681 21.95 12 28.45 18.5008132"></polygon>
                    </g>
                </g>
            </g>
        </svg>
        Installation guide
      </a>
    </li>
    {% for menu in site.data.installation-guide-sidebar %}
      <li class="mobile-nav-menu__item">
        <a href="{{site.baseurl}}articles/{{menu.article | downcase | split: ' ' | join: '-'}}.html" class="mobile-nav-menu__link {% if page.title == menu.article or menu.subarticles contains page.title %}opened{% endif %}">
          <svg width="13px" height="8px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="caret-off">
              <title>global-caret-off</title>
              <g id="Interactivism-Documentation-Project-2017-03-01" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="23" transform="translate(-289.000000, -412.000000)" fill="#8F989F">
                      <path d="M294,415.919497 L290.572308,412.519819 L290.048205,412 L289,413.039639 L289.524103,413.559458 L292.951795,416.959136 L292.950559,416.960361 L293.998765,418 L294,417.998775 L294.001235,418 L295.049441,416.960361 L295.048205,416.959136 L298.475897,413.559458 L299,413.039639 L297.951795,412 L297.427692,412.519819 L294,415.919497 Z" id="global-caret-off"></path>
                  </g>
              </g>
          </svg>
          {{ menu.article }}
        </a>
        <ul>
          {% for post in menu.subarticles %}
            <li class="mobile-nav-menu__tag"><a href="{{site.baseurl}}articles/{{post | downcase | split: ' ' | join: '-'}}.html">{{post}}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  {% include footer-mobile-nav.html %}
</div>