<aside class="sidebar">
  <h3 class="sidebar-title">Installation Guide</h3>
  
  <ul class="sidebar-accordion">
    {% for submenu in site.data.admin-guide-sidebar %}
      <li class="submenu closed">
        <a href="#" class="submenu__title">{{ submenu.name }}</a>
        <ul>
          {% for keyword in submenu.keywords %}
            <li class="submenu__tag {% if page.title == keyword %}active{% endif %} "><a href="../{{keyword}}/">{{keyword}}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <!-- <ul class="sidebar-accordion">
    <li class="submenu closed">
      <a href="#" class="submenu__title">Step1</a>
      <ul>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag active">Concept</li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
      </ul>
    </li>
    <li class="submenu closed">
      <a href="#" class="submenu__title">Step2</a>
      <ul>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
      </ul>
    </li>
    <li class="submenu closed">
      <a href="#" class="submenu__title">Step3</a>
      <ul>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
      </ul>
    </li>
    <li class="submenu closed">
      <a href="#" class="submenu__title">Step4</a>
      <ul>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
      </ul>
    </li>
    <li class="submenu closed">
      <a href="#" class="submenu__title">Step5</a>
      <ul>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
        <li class="submenu__tag"><a href="#">Concept</a></li>
      </ul>
    </li>
  </ul> -->
  {% include sidebar-footer.html %}
</aside>