<section class="subheader desktop">
  <div class="container">
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="{{site.baseurl}}" class="home-link">
          <svg width="14px" height="13px" viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>icon-global-home</title>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Nav-Guides-On" transform="translate(-70.000000, -32.000000)" class="home-icon">
                      <polygon id="icon-global-home" points="81.2545565 38.7718631 83.9285714 38.7718631 76.9727478 32 70 38.7718631 72.5893942 38.7718631 72.5893942 45 75.6865127 45 75.6865127 41.1280101 78.2589828 41.1280101 78.2589828 45 81.2545565 45"></polygon>
                  </g>
              </g>
          </svg>
          Home
        </a>
      </li>
      <li class="nav-item guides-menu">
        <a href="#" class="guides-link {% if page.categories contains 'admin' or page.categories contains 'user' or page.categories contains 'installation' %} active {% endif %}">Guides</a>
        <ul class="guides-list">
          <li class="guides-item"><a href="../category/admin/" {% if page.categories contains 'admin' %} class="current" {% endif %}>Admin Guide</a></li>
          <li class="guides-item"><a href="../category/user/" {% if page.categories contains 'user' %} class="current" {% endif %}>User Guide</a></li>
          <li class="guides-item"><a href="../category/installation/" {% if page.categories contains 'installation' %} class="current" {% endif %}>Installation Guide</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="../category/release/" class="release-notes-link {% if page.categories contains 'release' %} active {% endif %}">Release notes</a></li>
    </ul>
    <form id="search-container" class="search-block" role="search" action="../search.html">
      <div class="search-shadow">
        <input type="text" name="query" id="search-input" class="search-input" placeholder="FIND ANSWERS" autocomplete="off">
        <ul id="results-container" class="search-result"></ul>
        <span class="search-input-clear">
          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>global-close</title>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Search-Filter---Input-2-Hover-On" transform="translate(-378.000000, -7.000000)" fill="#B5BCC6">
                      <g id="Search-Filter">
                          <path d="M390.04095,17.4368631 L386.73563,14.131543 L385.14604,15.721133 L388.45136,19.026453 L385,22.4778131 L386.522187,24 L389.973547,20.5486399 L393.26437,23.8394629 L394.85396,22.249873 L391.563137,18.9590499 L395,15.5221869 L393.477813,14 L390.04095,17.4368631 Z" id="global-close"></path>
                      </g>
                  </g>
              </g>
          </svg>
        </span>
        <button class="search-btn" type="submit">Search</button>
      </div>
    </form>
    <a href="https://support.metacloud.com/hc/en-us" class="support-link" target="_blank">
      <svg width="11px" height="11px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>button-add</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Nav-Guides-On" transform="translate(-1089.000000, -32.000000)" fill="#89BA17">
                <g id="ADDITIVE-BUTTON-DEFAULT" transform="translate(1069.000000, 20.000000)">
                    <g id="Group-4" transform="translate(20.000000, 11.000000)">
                        <path d="M7.86964286,6.12544803 L7.86964286,1 L5.13035714,1 L5.13035714,6.12544803 L0,6.12544803 L0,8.92114695 L5.13035714,8.92114695 L5.13035714,14 L7.86964286,14 L7.86964286,8.92114695 L13,8.92114695 L13,6.12544803 L7.86964286,6.12544803 Z" id="button-add"></path>
                    </g>
                </g>
            </g>
        </g>
      </svg>
      Open a ticket
    </a>
  </div>
</section>