<section class="subheader">
  <div class="container">
    <ul class="nav-menu">
      <li class="nav-item"><a href="/" class="home-link">Home</a></li>
      <li class="nav-item guides-menu">
        <a href="#" class="guides-link">Guides</a>
        <ul class="guides-list">
          <li class="guides-item"><a href="#">Admin Guide</a></li>
          <li class="guides-item"><a href="#">User Guide</a></li>
          <li class="guides-item"><a href="#">Installation Guide</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="#" class="release-notes-link">Release notes</a></li>
    </ul>
    <a href="https://support.metacloud.com/hc/en-us" class="support-link">Open a ticket</a>
    <form id="search-container" class="search-block" role="search" action="/search.html">
      <div class="search-shadow">
        <input type="text" name="query" id="search-input" class="search-input" placeholder="FIND ANSWERS" autocomplete="off">
        <button class="search-btn" type="submit">Search</button>
      </div>
      <ul id="results-container" class="search-result"></ul>
    </form>
  </div>
</section>