.sidebar {
  float: left;
  height: 100%;
  width: 350px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  background-color: #fff;
}

.sidebar-title {
  margin-bottom: 30px;
  color: #526476;
  font-size: 20px;
}

.sidebar-release {
  position: relative;
  padding-bottom: 15px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 50px;
    bottom: 0;
    height: 2px;
    background-color: #ecf0f1;
  }
}

.submenu {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 50px;
    bottom: 0;
    height: 2px;
    background-color: #ecf0f1;
  }

  ul {
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
  }

  &.opened {
    ul {
      max-height: 5000px;
    }
    .submenu__title:after {
      transform: rotate(-135deg);
    }
  }
  &__tag {
    padding-left: 21px;
    line-height: 34px;
    a {
      display: block;
      font-size: 13px;
      text-transform: none;
      transition: color 0.3s;
      &:first-letter {
        text-transform: uppercase;
      }
      &:hover {
        color: #526476;
      }
    }
    &.active {
      background-color: #e2e3ec;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      color: #526476;
      font-size: 13px;
      a {
        color: #526476;
      }
    }
  }
  &__title {
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #85929e;
    font-size: 13px;
    text-transform: uppercase;
    &:after {
      content: '';
      position: absolute;
      right: 50px;
      top: 50%;
      height: 5px;
      width: 5px;
      border-right: 2px solid #8f989f;
      border-bottom: 2px solid #8f989f;
      margin-top: -4px;
      transform: rotate(45deg);
      transition: transform 0.3s;
    }
    p {
      max-width: 70%;
      text-transform: none;
    }
    &.active {
      margin-left: -20px;
      padding-left: 20px;
      background-color: #e2e3ec;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      color: #526476;
      font-size: 13px;
    }
  }
}

.sidebar-footer {
  padding-top: 25px;
}

.sidebar-links__item {
  margin-bottom: 25px;
  a {
    color: #aaadb8;
    font-size: 13px;
    text-transform: uppercase;
  }
  svg {
    margin-bottom: -3px;
    margin-right: 33px;
  }
}

.sidebar-copyright {
  margin-top: 170px;
  padding-right: 50px;
  color: #c8cbd8;
  font-size: 12px;
  text-align: center;
}