---
layout: default
---

<div class="container container-article">
  {% include sidebar.html %}
  
  <div class="article-block">
    <div class="article-nav">
      <p class="article-nav__title">Contents</p>
      <ul class="article-nav__list">
        <li class="article-nav__item"><a href="#">Starter Configuration</a></li>
        <li class="article-nav__item"><a href="#">General Purpose Configuration</a></li>
        <li class="article-nav__item"><a href="#">High Performance Configuration</a></li>
      </ul>
    </div>
    {{content}}
  </div>
</div>